.Skills-classSkills-container {
  height: 70vh;
  border-color: black;
  border-width: thick;
  border-style: double;
}

.Skills-classSkills-contents {
  margin: 2%;
}

.skill-icon {
  height: 12vh;
  width: 10%;
  background-repeat: no-repeat;
  background-size: 100%;
}

.Equip-Skill {
  margin: 105% 0 0 15%;
}

.reqLevel { color: red; }

/* ===========================================
/* Knight Skills                            ==
/* ======================================== */
.KnightDefault-icon { background-image: url(../../../../res/images/UI/Icons/Skills/Knight/KnightDefault.png); }
.Berserk-icon { background-image: url(../../../../res/images/UI/Icons/Skills/Knight/Berserk.png); }
.Berserk-icon-UA { background-image: url(../../../../res/images/UI/Icons/Skills/UA/Knight/Berserk_UA.png); }

.Ravage-icon { background-image: url(../../../../res/images/UI/Icons/Skills/Knight/Ravage.png); }
.Ravage-icon-UA { background-image: url(../../../../res/images/UI/Icons/Skills/UA/Knight/Ravage_UA.png); }

.Lance-icon { background-image: url(../../../../res/images/UI/Icons/Skills/Knight/Berserk.png); }
.Lance-icon-UA { background-image: url(../../../../res/images/UI/Icons/Skills/UA/Knight/Berserk_UA.png); }

.Cleave-icon { background-image: url(../../../../res/images/UI/Icons/Skills/Knight/Cleave.png); }
.Cleave-icon-UA { background-image: url(../../../../res/images/UI/Icons/Skills/UA/Knight/Cleave_UA.png); }

/* ===========================================
/* Wizard Skills                            ==
/* ======================================== */
.WizardDefault-icon { background-image: url(../../../../res/images/UI/Icons/Skills/Wizard/WizardDefault.png); }
.Fireball-icon { background-image: url(../../../../res/images/UI/Icons/Skills/Wizard/Fireball.png); }
.Fireball-icon-UA { background-image: url(../../../../res/images/UI/Icons/Skills/UA/Wizard/Fireball_UA.png); }

.Shadowball-icon { background-image: url(../../../../res/images/UI/Icons/Skills/Wizard/Shadowball.png); }
.Shadowball-icon-UA { background-image: url(../../../../res/images/UI/Icons/Skills/UA/Wizard/Shadowball_UA.png); }

.ThunderCharge-icon { background-image: url(../../../../res/images/UI/Icons/Skills/Wizard/ThunderCharge.png); }
.ThunderCharge-icon-UA { background-image: url(../../../../res/images/UI/Icons/Skills/UA/Wizard/ThunderCharge_UA.png); }

.Blizzard-icon { background-image: url(../../../../res/images/UI/Icons/Skills/Wizard/Blizzard.png); }
.Blizzard-icon-UA { background-image: url(../../../../res/images/UI/Icons/Skills/UA/Wizard/Blizzard_UA.png); }

/* ===========================================
/* Archer Skills                            ==
/* ======================================== */
.ArcherDefault-icon { background-image: url(../../../../res/images/UI/Icons/Skills/Archer/ArcherDefault.png); }
.ScatterShot-icon { background-image: url(../../../../res/images/UI/Icons/Skills/Archer/ScatterShot.png); }
.ScatterShot-icon-UA { background-image: url(../../../../res/images/UI/Icons/Skills/UA/Archer/ScatterShot_UA.png); }

.PiercingShot-icon { background-image: url(../../../../res/images/UI/Icons/Skills/Archer/PiercingShot.png); }
.PiercingShot-icon-UA { background-image: url(../../../../res/images/UI/Icons/Skills/UA/Archer/PiercingShot_UA.png); }

.BladeThrust-icon { background-image: url(../../../../res/images/UI/Icons/Skills/Archer/BladeThrust.png); }
.BladeThrust-icon-UA { background-image: url(../../../../res/images/UI/Icons/Skills/UA/Archer/BladeThrust_UA.png); }

.PowerShot-icon { background-image: url(../../../../res/images/UI/Icons/Skills/Archer/PowerShot.png); }
.PowerShot-icon-UA { background-image: url(../../../../res/images/UI/Icons/Skills/UA/Archer/PowerShot_UA.png); }

/* Tool Tip */
.skill-icon { position: relative; display: inline-block; }

.skill-icon .Skills-classSkill-tooltiptext-container {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    border-style: double;
    border-color: orange;
    margin-left: 120%;

    position: absolute;
    z-index: 1;
}

.Skills-classSkill-tooltiptext {
  position: relative;
  margin: 0;
}

.skill-icon:hover .Skills-classSkill-tooltiptext-container { visibility: visible; }
