.simpleModal-inventory {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
  animation: .5s linear fadeIn;
  overflow-x: hidden;
}

.modalContent-inventory {
  border-radius: 12px;
  background-color: #f4f4f4;
  margin: 10% auto;
  padding: 20px;
  height: 50%;
  width: 60%;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
}

.modalHeading-inventory {
  color: black;
}

.closeButton{
  color: grey;
  float: right;
  font-size: 30px;
}

.closeButton:hover, .closeButton:focus{
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Character Stats Modal */
.simpleModal-characterStats {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
  animation: .5s linear fadeIn;
  overflow: hidden;
}

.modalContent-characterStats {
  border-radius: 12px;
  background-color: #f4f4f4;
  margin: 4% auto;
  padding: 20px;
  height: 80%;
  width: 60%;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
}

.modalHeading-characterStats {
  color: black;
}

/* Quest Log Modal */
.simpleModal-questLog {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
  animation: .5s linear fadeIn;
  overflow: hidden;
}

.modalContent-questLog {
  border-radius: 12px;
  background-color: #f4f4f4;
  margin: 4% auto;
  padding: 20px;
  height: 80%;
  width: 60%;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
}

.modalHeading-questLog {
  color: black;
}

/* Skill Book Modal */
.simpleModal-skillBook {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
  animation: .5s linear fadeIn;
  overflow: hidden;
}

.modalContent-skillBook {
  border-radius: 12px;
  background-color: #f4f4f4;
  margin: 4% auto;
  padding: 20px;
  height: 80%;
  width: 60%;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
}

.modalHeading-skillBook {
  color: black;
}
