.ChooseCharacter {
  height: 150vh;
  width: 100%;
  background-image: url(../../res/images/Environment/ChooseClassCastle.gif);
  background-repeat: no-repeat;
  background-size: 110%;
}

.ChooseCharacter-characterList-container {
  position: absolute;
  height: 85vh;
  width: 25%;
  top: 6%;
  left: 70%;
  color: #dedede;
  background-color: rgba(0,0,0,0.8);
  border-radius: 16px;
  border-style: double;
  border-color: #dedede;
  overflow: hidden;
}

.ChooseCharacter-characterList {
  position: relative;
  height: 76vh;
  width: 89%;
  top: 40px;
  left: 5%;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 16px;
}

.Character {
  position: relative;
  height: 16vh;
  width: 80%;
  top: 20px;
  left: 10%;
  background-color: grey;
  border-radius: 16px;
}

.Character:hover {
  color: black;
  background-color: rgba(255,255,255, 0.6);
}

.Character-contents {
  position: relative;
  top: 10px;
  left: 5%;
}

.ChooseCharacter-Avatar {
  height: 30vh;
}

.KnightAvatar {
  position: relative;
  height: 60vh;
  width: 30%;
  top: 250px;
  left: 20%;
  background-image: url(../../res/images/KnightOneStates/KnightIdle.gif);
  background-repeat: no-repeat;
  background-size: 100%;
}

.WizardAvatar {
  position: relative;
  height: 60vh;
  width: 30%;
  top: 190px;
  left: 12%;
  background-image: url(../../res/images/WizardStates/WizardIdle.gif);
  background-repeat: no-repeat;
  background-size: 100%;
}

.ArcherAvatar {
  position: relative;
  height: 60vh;
  width: 30%;
  top: 190px;
  left: 12%;
  background-image: url(../../res/images/ArcherStates/ArcherIdle.gif);
  background-repeat: no-repeat;
  background-size: 100%;
}
