.CharacterEquipment-container {
  height: 48vh;
  /* border-style: solid; */
}

.CharacterEquipment-right {
  position: relative;
  display: flex;
  flex-direction: column;
  float: right;
  left: -5%;
}

.CharacterEquipment-left {
  display: flex;
  flex-direction: column;
  float: left;
}

.HeadSlot {
  height: 6vh;
  width: 600%;
  border-style: solid;
  border-width: thick;
  margin-bottom: 10px;
}

.NeckSlot {
  height: 6vh;
  width: 600%;
  border-style: solid;
  border-width: thick;
  margin-bottom: 10px;
}

.BackSlot {
  height: 6vh;
  width: 600%;
  border-style: solid;
  border-width: thick;
  margin-bottom: 10px;
}

.HandSlot {
  height: 6vh;
  width: 600%;
  border-style: solid;
  border-width: thick;
  margin-bottom: 10px;
 }

.WristSlot {
  height: 6vh;
  width: 600%;
  border-style: solid;
  border-width: thick;
  margin-bottom: 10px;
}

.PantsSlot {
  height: 6vh;
  width: 600%;
  border-style: solid;
  border-width: thick;
}

.Knight-Silhouette {
  position: absolute;
  height: 45vh;
  width: 18%;
  left: 41%;
  background-image: url(../../../../res/images/UI/knightSilhouette.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.Wizard-Silhouette {
  position: absolute;
  height: 45vh;
  width: 16%;
  left: 42%;
  background-image: url(../../../../res/images/UI/wizardSilhouette.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.Archer-Silhouette {
  position: absolute;
  height: 45vh;
  width: 15.5%;
  left: 42%;
  background-image: url(../../../../res/images/UI/archerSilhouette.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.FeetSlot {
  height: 6vh;
  width: 600%;
  border-style: solid;
  border-width: thick;
  margin-bottom: 10px;
}

.RingOneSlot {
  height: 6vh;
  width: 600%;
  border-style: solid;
  border-width: thick;
  margin-bottom: 10px;
}

.RingTwoSlot {
  height: 6vh;
  width: 600%;
  border-style: solid;
  border-width: thick;
  margin-bottom: 10px;
}

.TrinketOneSlot {
  height: 6vh;
  width: 600%;
  border-style: solid;
  border-width: thick;
  margin-bottom: 10px;
}

.TrinketTwoSlot {
  height: 6vh;
  width: 600%;
  border-style: solid;
  border-width: thick;
  margin-bottom: 10px;
}

.ArtifactSlot {
  height: 6vh;
  width: 600%;
  border-style: solid;
  border-width: thick;
}
