/* ==============================
            Left Side
   ============================== */
.HeadSlot { position: relative; display: inline-block; }

.HeadSlot .HeadSlot-tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    margin-left: 120%;

    position: absolute;
    z-index: 1;
}

.HeadSlot:hover .HeadSlot-tooltiptext { visibility: visible; }



.NeckSlot { position: relative; display: inline-block; }

.NeckSlot .NeckSlot-tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    margin-left: 120%;

    position: absolute;
    z-index: 1;
}

.NeckSlot:hover .NeckSlot-tooltiptext { visibility: visible; }



.BackSlot { position: relative; display: inline-block; }

.BackSlot .BackSlot-tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    margin-left: 120%;

    position: absolute;
    z-index: 1;
}

.BackSlot:hover .BackSlot-tooltiptext { visibility: visible; }



.HandSlot { position: relative; display: inline-block; }

.HandSlot .HandSlot-tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    margin-left: 120%;

    position: absolute;
    z-index: 1;
}

.HandSlot:hover .HandSlot-tooltiptext { visibility: visible; }



.WristSlot { position: relative; display: inline-block; }

.WristSlot .WristSlot-tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    margin-left: 120%;

    position: absolute;
    z-index: 1;
}

.WristSlot:hover .WristSlot-tooltiptext { visibility: visible; }



.LegSlot { position: relative; display: inline-block; }

.LegSlot .LegSlot-tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    margin-left: 120%;

    position: absolute;
    z-index: 1;
}

.LegSlot:hover .LegSlot-tooltiptext { visibility: visible; }
/* END */




/* ==============================
            Right Side
   ============================== */
.FeetSlot { position: relative; display: inline-block; }

.FeetSlot .FeetSlot-tooltiptext {
   visibility: hidden;
   width: 120px;
   background-color: black;
   color: #fff;
   text-align: center;
   padding: 5px 5px 5px 5px;
   border-radius: 6px;
   margin-left: -235%;

   position: absolute;
   z-index: 1;
}

.FeetSlot:hover .FeetSlot-tooltiptext { visibility: visible; }



.RingOneSlot { position: relative; display: inline-block; }

.RingOneSlot .RingOneSlot-tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    margin-left: -220%;

    position: absolute;
    z-index: 1;
}

.RingOneSlot:hover .RingOneSlot-tooltiptext { visibility: visible; }



.RingTwoSlot { position: relative; display: inline-block; }

.RingTwoSlot .RingTwoSlot-tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    margin-left: -220%;

    position: absolute;
    z-index: 1;
}

.RingTwoSlot:hover .RingTwoSlot-tooltiptext { visibility: visible; }



.TrinketOneSlot { position: relative; display: inline-block; }

.TrinketOneSlot .TrinketOneSlot-tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    margin-left: -220%;

    position: absolute;
    z-index: 1;
}

.TrinketOneSlot:hover .TrinketOneSlot-tooltiptext { visibility: visible; }



.TrinketTwoSlot { position: relative; display: inline-block; }

.TrinketTwoSlot .TrinketTwoSlot-tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    margin-left: -220%;

    position: absolute;
    z-index: 1;
}

.TrinketTwoSlot:hover .TrinketTwoSlot-tooltiptext { visibility: visible; }



.ArtifactSlot { position: relative; display: inline-block; }

.ArtifactSlot .ArtifactSlot-tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    margin-left: -220%;

    position: absolute;
    z-index: 1;
}

.ArtifactSlot:hover .ArtifactSlot-tooltiptext { visibility: visible; }
