.Quests-questBoard-container {
  position: absolute;
  height: 80vh;
  width: 50%;
  top: 10%;
  left: 25%;
  text-align: center;
  background-image: url(../../../res/images/UI/NoticeBoardPaper.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 16px;
}

.Quests-questBoard {
  position: relative;
  top: 12%;
  left: 16%;
  height: 60vh;
  width: 70%;
  /* border-style: solid;
  border-color: #dedede; */
  overflow-y: scroll;
  overflow-x: hidden;
}

.Quests-singleQuest {
  margin: 0 4% 10% 4%;
}
