.Shop {
  height: 100vh;
  width: 100%;
  background-image: url(../../../res/images/Environment/Shop.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.Shop-town {
  position: absolute;
  height: 16.5vh;
  width: 3%;
  top: 2%;
  left: 2%;
  background-image: url(../../../res/images/UI/back_arrow_left_ic.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.Stock-container {
  position: absolute;
  color: #dedede;
  height: 20vh;
  width: 70%;
  margin: 38% 0 0 16%;
  background-color: rgba(0,0,0,0.7);
  border-style: double;
  border-color: #dedede;
}

.Stock-items-container {
  display: flex;
  flex-direction: row;
  width: 90px;
  margin: 3.5% 8% 0% 8%;
}

.Stock-item{
  margin-left: 30px;
}

.Stock-item-icon-container {
  border-style: solid;
  border-width: thick;
  border-color: #dedede;
  height: 10vh;
  width: 100px;
  background-color: rgba(0,0,0,0.8);
}

.Stock-item-icon-container:hover {
  border-color: orange;
}

.Weapon-icon {
  height: 10vh;
  width: 80%;
  margin: 10% auto;
  background-image: url(../../../res/images/UI/Shop/axeDouble2.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.Armor-icon {
  height: 10vh;
  width: 80%;
  margin: 15% auto;
  background-image: url(../../../res/images/UI/Shop/armor.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.Consumeable-icon {
  height: 10vh;
  width: 75%;
  margin: 5% auto;
  background-image: url(../../../res/images/UI/Shop/potionRed.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.Crafting-icon {
  height: 10vh;
  width: 80%;
  margin: 10% auto;
  background-image: url(../../../res/images/UI/Shop/tools.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.Artifact-icon {
  height: 10vh;
  width: 80%;
  margin: 10% auto;
  background-image: url(../../../res/images/UI/Shop/upg_armor.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.Misc-icon {
  height: 10vh;
  width: 80%;
  margin: 10% auto;
  background-image: url(../../../res/images/UI/Shop/backpack.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

/* Tool Tips */
.ItemIcon { position: relative; display: inline-block; }

.ItemIcon .Stock-item-tooltiptext-container {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    border-style: double;
    border-color: orange;
    margin-left: 120%;

    position: absolute;
    z-index: 1;
}

.Stock-item-tooltiptext {
  position: relative;
  margin: 0;
}

.ItemIcon:hover .Stock-item-tooltiptext-container { visibility: visible; }

.Shop-inventory-container {
  position: absolute;
  height: 65vh;
  width: 20%;
  top: 8%;
  left: 66%;
  background-color: rgba(0,0,0,0.8);
  border-style: double;
  border-color: #dedede;
  color: #dedede;
  text-align: center;
}

.Shop-insufficientFunds {
  position: absolute;
  height: 9vh;
  width: 20%;
  top: 64%;
  left: 16%;
  background-color: rgba(0,0,0,0.8);
  color: #dedede;
  text-align: center;
  border-style: double;
  border-color: #dedede;
}

/* Rarity */

.Common { color: #dedede; }
.Uncommon { color: green; }
.Rare { color: cyan; }
.Legendary { color: purple; }
.Epic { color: orange; }
